.button{
	background:transparent;
outline: none;
color:#555555;
cursor: pointer;
font-weight: 600;
line-height:1;
margin-left: 1.3rem;
outline: none;
padding:1.3rem;
border:1px solid #555555;
transition:background .2s ease;
&:hover,&:focus{
	background:#e8e8e8;
}
&:active{
	background:#dddddd;
	transform:scale(1.1);//when someone click the button, it gets just a little big bigger
}
}

.button--round{
	border-radius:50%;
	height: 4rem;
	width: 4rem;
} //create modifier